@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-sizing-adjust: 100%;
  -moz-text-sizing-adjust: 100%;
  -webkit-text-sizing-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Poppins-Reg";
  src: url("../fonts/Poppins-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "LB-Bold";
  src: url("../fonts/LibreBaskerville-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "LB-Reg";
  src: url("../fonts/LibreBaskerville-Regular.ttf") format("truetype");
}
/*---Commons---*/
.title {
  font-family: "LB-Bold";
  font-size: 50px;
  color: #313131;
}

.block__description {
  font-family: "Poppins-Reg";
  font-size: 14px;
  color: #616161;
}

.block__about {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper {
  width: 60%;
  margin: 0 auto;
}

/*---Header---*/
.header {
  background-color: #ffffff;
}

.header__line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 65%;
}

.header__link {
  font-family: "Poppins";
  font-size: 12px;
  color: #272727;
}

.fullscreen {
  background-color: #3f4049;
  height: 685px;
}

.wrapper-fullscreen {
  width: 45%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fullscreen__title {
  font-family: "LB-Reg";
  font-weight: 200;
  color: #ffffff;
  font-size: 50px;
  text-align: center;
  line-height: 1.5;
  margin-top: 150px;
}

.fullscreen__button {
  padding: 20px 40px;
  background-color: #fc5f45;
  border-radius: 30px;
  font-family: "Poppins";
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 50px;
}

.fullscreen__dignities {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 80px;
}

.dignity {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33%;
}

.dignity__text {
  font-family: "Poppins";
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 35px;
}

.green-text {
  color: #38c695;
}

.purple-text {
  color: #b27cf5;
}

.orange-text {
  color: #feb960;
}

/*---About us---*/
.about-us {
  background-color: #ffffff;
  padding: 150px 0;
}

.about-us__blocks {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.about-us__photo-block {
  width: 55%;
  position: relative;
}

.about-us__photo {
  max-width: 100%;
  height: auto;
}

.about-us__text-block {
  width: 40%;
  background-color: #ffffff;
  padding: 100px 80px;
  position: absolute;
  right: 20%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  background-image: url("../img/about-us/01.png");
  background-repeat: no-repeat;
  border-image: url("../img/about-us/Lines.png") 1 round;
  border-width: 3px;
  border-collapse: initial;
  border-style: solid;
  border-top: none;
  border-right: none;
  border-left: none;
}
.about-us__text-block :last-child {
  margin-bottom: 0;
}

.about-us__title {
  margin-bottom: 8%;
}

.about-us__text {
  font-family: "Poppins-Reg";
  font-weight: 100;
  font-size: 14px;
  margin-bottom: 5%;
  line-height: 1.5;
}

.about-us__line {
  background-image: url(../img/about-us/Lines.png);
  height: 5px;
  width: 100%;
}

/*---Our focus---*/
.our-focus {
  background-color: #f7f7f7;
  padding: 150px 0;
}

.our-focus__blocks {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.our-focus__about {
  margin-bottom: 85px;
  position: relative;
}
.our-focus__about :first-child::before {
  content: "";
  display: block;
  width: 315px;
  height: 200px;
  position: absolute;
  bottom: 53%;
  right: 15%;
  background-image: url("../img/our-focus/02.png");
  z-index: -1;
}

.our-focus__title {
  margin-bottom: 40px;
  z-index: 0;
}

.our-focus__cards {
  display: flex;
  justify-content: space-between;
}

.focus-card {
  background-color: #ffffff;
  padding: 6% 3%;
  text-align: center;
  width: 23%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.focus-card__picture {
  margin-bottom: 20px;
}

.focus-card__title {
  font-family: "Poppins";
  font-size: 16px;
  margin-bottom: 20px;
}

.focus-card-text {
  color: #616161;
  font-family: "Poppins-Reg";
  font-size: 12px;
  line-height: 1.5;
}

.red-border {
  border-bottom: 3px solid #fc5f45;
}

.green-border {
  border-bottom: 3px solid #38c695;
}

.purple-border {
  border-bottom: 3px solid #b27cf5;
}

.orange-border {
  border-bottom: 3px solid #feb960;
}

/*---Video block---*/
.video {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #3f4049;
  padding: 150px 0;
  text-align: center;
  color: #ffffff;
  font-weight: 200;
}

.video__title {
  font-family: "Poppins-Reg";
  font-size: 30px;
}

.video__button {
  margin: 35px 0;
}

.video__button-descsription {
  font-family: "Poppins-Reg";
  font-size: 14px;
}

/*---Portfolio block---*/
.portfolio {
  background-color: #ffffff;
  padding: 150px 0;
}

.portfolio__blocks {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.portfolio__about {
  position: relative;
  margin-bottom: 80px;
}
.portfolio__about :first-child::before {
  content: "";
  display: block;
  width: 317px;
  height: 206px;
  position: absolute;
  bottom: 47%;
  right: 33%;
  background-image: url("../img/portfolio/03.png");
  z-index: -1;
}

.portfolio__title {
  margin-bottom: 40px;
  z-index: 0;
}

.portfolio__works {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  justify-content: space-between;
}

.portfolio__item {
  display: block;
  flex: 30%;
  overflow: hidden;
  margin: 0.5%;
  position: relative;
}

.portfolio__item-description {
  visibility: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20%;
  background-color: #ffffff;
  color: #000000;
  font-family: "Poppins-Reg";
  display: flex;
  justify-content: center;
  align-items: center;
  border-image: url("../img/about-us/Lines.png") 1 round;
  border-width: 3px;
  border-collapse: initial;
  border-style: solid;
  border-bottom: none;
  border-right: none;
  border-left: none;
  z-index: 2;
}

.portfolio__item-description_visible {
  visibility: visible;
}

.item__photo {
  max-width: 100%;
  height: auto;
}

.portfolio__item_hovered {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
  height: auto;
  opacity: 0.3;
}

.portfolio__item_plus-hovered {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-60%, -50%);
  max-width: 100%;
  height: auto;
}

/*---Our team block---*/
.our-team {
  padding: 150px 0;
  background-color: #f7f7f7;
}

.our-team__blocks {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.our-team__about {
  margin-bottom: 85px;
  position: relative;
}
.our-team__about :first-child::before {
  content: "";
  display: block;
  width: 342px;
  height: 200px;
  position: absolute;
  bottom: 40%;
  left: 50%;
  transform: translateX(-50%);
  background-image: url("../img/our-team/04.png");
  z-index: -1;
}

.our-team__title {
  margin-bottom: 40px;
  z-index: 0;
}

.our-team__cards {
  display: flex;
  justify-content: space-between;
}

.team-card {
  background-color: #ffffff;
  text-align: center;
  width: 23%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.team-card__picture {
  width: 100%;
  border: 5px solid #ffffff;
  border-bottom: none;
}

.red-gradient {
  height: auto;
  position: relative;
}

.red-gradient::after {
  background: transparent;
  background: linear-gradient(to top, rgba(252, 95, 69, 0.3) 0%, rgba(255, 255, 255, 0.1) 50%);
  content: "";
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.green-gradient {
  height: auto;
  position: relative;
}

.green-gradient::after {
  background: transparent;
  background: linear-gradient(to top, rgba(56, 198, 149, 0.3) 0%, rgba(255, 255, 255, 0.1) 50%);
  content: "";
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.purple-gradient {
  height: auto;
  position: relative;
}

.purple-gradient::after {
  background: transparent;
  background: linear-gradient(to top, rgba(178, 124, 245, 0.3) 0%, rgba(255, 255, 255, 0.1) 50%);
  content: "";
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.orange-gradient {
  height: auto;
  position: relative;
}

.orange-gradient::after {
  background: transparent;
  background: linear-gradient(to top, rgba(254, 185, 96, 0.3) 0%, rgba(255, 255, 255, 0.1) 50%);
  content: "";
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.team-card__icon {
  max-width: 100%;
  height: auto;
}

.team-card__title_red {
  font-family: "Poppins";
  color: #fc5f45;
  margin: 22px 0 14px;
  font-size: 14px;
}

.team-card__title_green {
  font-family: "Poppins";
  color: #38c695;
  margin: 22px 0 14px;
  font-size: 14px;
}

.team-card__title_purple {
  font-family: "Poppins";
  color: #b27cf5;
  margin: 22px 0 14px;
  font-size: 14px;
}

.team-card__title_orange {
  font-family: "Poppins";
  color: #feb960;
  margin: 22px 0 14px;
  font-size: 14px;
}

.team-card-text {
  font-family: "Poppins-Reg";
  color: #959595;
  margin-bottom: 22px;
  font-size: 10px;
}

.members-description {
  margin-top: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.members-description__decription-card_red {
  display: block;
  padding: 50px 75px;
  background-color: #ffffff;
  position: relative;
  z-index: 2;
}
.members-description__decription-card_red ::before {
  content: "";
  display: block;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  z-index: 2;
}
.members-description__decription-card_red ::after {
  content: "";
  display: block;
  background-color: #ffffff;
  position: absolute;
  top: -47px;
  left: 9%;
  width: 50px;
  height: 50px;
  transform: rotate(45deg) translateX(15px) translateY(15px);
  box-shadow: 0 0 5px rgba(207, 207, 207, 0.1);
  z-index: 1;
}

.members-description__decription-card_green {
  display: none;
  padding: 50px 75px;
  background-color: #ffffff;
  position: relative;
  z-index: 2;
}
.members-description__decription-card_green ::before {
  content: "";
  display: block;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  z-index: 2;
}
.members-description__decription-card_green ::after {
  content: "";
  display: block;
  background-color: #ffffff;
  position: absolute;
  top: -47px;
  left: 34%;
  width: 50px;
  height: 50px;
  transform: rotate(45deg) translateX(15px) translateY(15px);
  box-shadow: 0 0 5px rgba(207, 207, 207, 0.1);
  z-index: 1;
}

.members-description__decription-card_purple {
  display: none;
  padding: 50px 75px;
  background-color: #ffffff;
  position: relative;
  z-index: 2;
}
.members-description__decription-card_purple ::before {
  content: "";
  display: block;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  z-index: 2;
}
.members-description__decription-card_purple ::after {
  content: "";
  display: block;
  background-color: #ffffff;
  position: absolute;
  top: -47px;
  right: 34%;
  width: 50px;
  height: 50px;
  transform: rotate(45deg) translateX(15px) translateY(15px);
  box-shadow: 0 0 5px rgba(207, 207, 207, 0.1);
  z-index: 1;
}

.members-description__decription-card_orange {
  display: none;
  padding: 50px 75px;
  background-color: #ffffff;
  position: relative;
  z-index: 2;
}
.members-description__decription-card_orange ::before {
  content: "";
  display: block;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  z-index: 2;
}
.members-description__decription-card_orange ::after {
  content: "";
  display: block;
  background-color: #ffffff;
  position: absolute;
  top: -47px;
  right: 9%;
  transform: translateX(-85%);
  width: 50px;
  height: 50px;
  transform: rotate(45deg) translateX(15px) translateY(15px);
  box-shadow: 0 0 5px rgba(207, 207, 207, 0.1);
  z-index: 1;
}

.active-card {
  display: block;
}

.description-card__title {
  font-family: "Poppins";
  font-size: 20px;
  color: #272727;
  margin-bottom: 25px;
}

.description-card__main-part {
  display: flex;
  justify-content: space-between;
}

.description-card__description {
  font-family: "Poppins-Reg";
  font-size: 14px;
  color: #616161;
  line-height: 175%;
  width: 70%;
}

.description-card__social {
  display: flex;
  justify-content: space-between;
  width: 25%;
  align-items: center;
}

.social__share {
  margin-right: 10px;
}

.social__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding-left: 40px;
  border-left: 3px solid #efefef;
  font-family: "Poppins-Reg";
  color: #616161;
  line-height: 175%;
}

.social__facebook {
  list-style-image: url("../img/our-team/face.png");
}

.social__twitter {
  list-style-image: url("../img/our-team/twit.png");
}

.social__linkedin {
  list-style-image: url("../img/our-team/link.png");
}

.social__instagram {
  list-style-image: url("../img/our-team/inst.png");
}

/*---Stats---*/
.stats {
  background-image: url("../img/stats/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: -2;
}
.stats ::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.1;
  z-index: -1;
}

.stats-blocks {
  display: flex;
  justify-content: space-around;
  padding: 145px 0 125px 0;
}

.stat {
  text-align: center;
}

.stat__image {
  margin-bottom: 30px;
  height: 50px;
}

.stat__number {
  margin-bottom: 30px;
  font-family: "Poppins";
  font-size: 20px;
  color: #fefefe;
}

.stat__description {
  margin-bottom: 35px;
  font-family: "Poppins-Reg";
  font-size: 15px;
  color: #fefefe;
}

/*---Our steps---*/
.steps {
  background-color: #ffffff;
  padding: 150px 0;
}

.steps__block {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.steps__about {
  position: relative;
  margin-bottom: 100px;
}
.steps__about :first-child::before {
  content: "";
  display: block;
  width: 332px;
  height: 201px;
  position: absolute;
  bottom: 47%;
  right: 33%;
  background-image: url("../img/steps/05.png");
  background-repeat: no-repeat;
  z-index: -1;
}

.steps__title {
  margin-bottom: 40px;
  z-index: 0;
}

.steps__main {
  width: 48%;
  transform: translateX(50%);
}

.step__picture {
  width: 100%;
  height: auto;
}

.step__description-block {
  padding: 40px 40px 55px 90px;
  position: absolute;
  bottom: 20%;
  width: 80%;
  z-index: 2;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.description-left {
  right: 70%;
}

.description-right {
  left: 70%;
}

.step__wrap {
  position: relative;
}
.step__wrap ::before {
  content: "";
  display: block;
  background-color: #e0e0e0;
  position: absolute;
  left: 70%;
  width: 1px;
  height: 70px;
  transform: rotate(45deg);
}

.step__number {
  display: block;
  position: absolute;
  top: -20px;
  left: -28%;
  font-family: "Times New Roman", Times, serif;
  font-weight: 900;
  color: #e0e0e0;
  font-size: 40px;
}

.step__title {
  font-family: "Poppins-Reg";
  color: #272727;
  font-size: 18px;
  margin-bottom: 20px;
}

.step__description {
  font-family: "Poppins-Reg";
  color: #616161;
  font-size: 12px;
  line-height: 200%;
}

/*---Prices---*/
.prices {
  background-color: #f7f7f7;
  padding: 150px 0;
}

.prices__blocks {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.prices__about {
  position: relative;
  margin-bottom: 100px;
}
.prices__about :first-child::before {
  content: "";
  display: block;
  width: 332px;
  height: 201px;
  position: absolute;
  bottom: 47%;
  right: 33%;
  background-image: url("../img/prices/06.png");
  background-repeat: no-repeat;
  z-index: -1;
}

.prices__title {
  margin-bottom: 40px;
  z-index: 0;
}

.pricing-plans {
  display: flex;
  flex: 30%;
  justify-content: space-between;
}

.plan {
  text-align: center;
  background-color: #fff;
  width: 30%;
  padding: 35px 0;
}

.green-border-up {
  border-top: 3px solid #38c695;
}

.red-border-up {
  border-top: 3px solid #fc5f45;
}

.purple-border-up {
  border-top: 3px solid #b27cf5;
}

.plan__title {
  font-family: "Poppins";
  font-size: 1.2em;
  color: #313131;
}

.plan_price {
  margin: 65px 0;
  font-family: "Poppins-Reg";
  line-height: 1.2em;
  position: relative;
  color: #fff;
  z-index: 2;
}

.price__value {
  font-size: 1.2em;
}

.green-circle {
  position: relative;
}

.green-circle::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -38%);
  display: block;
  background-color: #38c695;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  z-index: -1;
}

.green-circle::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -37%);
  display: block;
  background-color: transparent;
  width: 85px;
  height: 85px;
  border-radius: 50%;
  border: 3px #fff solid;
}

.red-circle {
  position: relative;
}

.red-circle::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -38%);
  display: block;
  background-color: #fc5f45;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  z-index: -1;
}

.red-circle::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -37%);
  display: block;
  background-color: transparent;
  width: 85px;
  height: 85px;
  border-radius: 50%;
  border: 3px #fff solid;
}

.purple-circle {
  position: relative;
}

.purple-circle::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -38%);
  display: block;
  background-color: #b27cf5;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  z-index: -1;
}

.purple-circle::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -37%);
  display: block;
  background-color: transparent;
  width: 85px;
  height: 85px;
  border-radius: 50%;
  border: 3px #fff solid;
}

.price__period {
  font-size: 0.8em;
}

.plan__conditions {
  line-height: 2em;
  font-family: "Poppins-Reg";
  color: #616161;
}

.plan__condition_bold {
  font-family: "Poppins";
  color: #272727;
}

.plan__condition_marked::before {
  content: "✔ ";
}

.plan__button {
  margin-top: 40px;
  height: 45px;
  width: 60%;
  text-transform: uppercase;
  font-family: "Poppins";
  background-color: #fff;
  border-radius: 23px;
}

.green-button {
  color: #38c695;
  border: 3px #38c695 solid;
}

.green-button:hover {
  color: #fff;
  background-color: #38c695;
}

.red-button {
  color: #fc5f45;
  border: 3px #fc5f45 solid;
}

.red-button:hover {
  color: #fff;
  background-color: #fc5f45;
}

.purple-button {
  color: #b27cf5;
  border: 3px #b27cf5 solid;
}

.purple-button:hover {
  color: #fff;
  background-color: #b27cf5;
}