@import "null.scss";

@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "LB-Bold";
    src: url("../fonts/LibreBaskerville-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "LB-Reg";
    src: url("../fonts/LibreBaskerville-Regular.ttf") format("truetype");
}

.header{
    background-color: #ffffff;
}
.wrapper{
    width: 60%;
    margin: 0 auto;
}
.header__line{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
}
.header__nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 65%;
}
.header__link{
    font-family: 'Poppins';
    font-size: 12px;
    color: #272727;
}

.fullscreen{
    background-color: #3f4049;
    height: 685px;
}
.wrapper-fullscreen{
    width: 45%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.fullscreen__title{
    font-family: 'LB-Reg';
    font-weight: 200;
    color: #ffffff;
    font-size: 50px;
    text-align: center;
    line-height: 1.5;
    margin-top: 150px;
}
.fullscreen__button{
    padding: 20px 40px;
    background-color: #fc5f45;
    border-radius: 30px;
    font-family: 'Poppins';
    text-transform: uppercase;
    color: #ffffff;
    margin-top: 50px;
}
.fullscreen__dignities{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
}
.dignity{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33%;
}
.dignity__text{
    font-family: "Poppins";
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 35px;
}
.green-text{
    color: #38c695;
}
.purple-text{
    color: #b27cf5;
}
.orange-text{
    color: #feb960;
}